@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

h1 {
    font-size: 2.5rem;
}

h2, h4 {
    color: rgb(85, 85, 85);
    font-size: 1.5rem;
}

i {
    font-size: 25px;
}



/*Navbar*/

.navbar {
    padding: 30px 20% 10px 20%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
}

.navbar ul {
    padding-left: 40px;
    list-style: none;
    display: flex;
}

.navbar li {
    padding: 15px;
    padding-top: 12px;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

.navbar a {
    padding: 3px 0px;
    border-radius: 16px;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}


.navbar li a:hover {
    color: #ee9972;
    text-decoration: underline;
    text-underline-offset: 0.7rem;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(85, 85, 85);
}

.logo {
    font-size: 2rem;
}

.menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
    font-size: 2rem;
    cursor: pointer;
}

.menu-mobile i {
    display: none;
}

.menu-mobile i {
    color: #000000;
    align-items: center;
}

/* Profile */

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 50px;
    box-sizing: border-box;
    min-height: fit-content;
}

.profile-img img {
    width: 250px;
    height: 250px;
    border-radius: 200px;
}

.profile-img {
    padding: 20px 25px;
}

.profile-info {
    justify-content: center;
    text-align: center;
    padding: 0 25px;
}

.my-infos {
    margin-top: 12px;
}

.title p {
    font-weight: 600;
}

button {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    display: inline-block;
    padding: 15px 15px;
    margin: 8px;
    font-size: 12px;
    max-width: 200px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:hover {
    background-color:#ee9972;
    color: #000000;
    border-color: #fff;
}

.social-links button {
    border-radius: 600px;
    font-size: 20px;
    padding: 10px 12px;
}

/* About */

.about-me {
    justify-content: center;
    text-align: center;
}

.cards {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card-col {
    border-color: #000000;
    border-style: dotted;
    border-width: 3px;
    margin: 17px;
    padding: 30px 50px;
    border-radius: 30px;
    width: 30%;
}

.about .card-col {
    min-height: 400px;
}

.about-txt {
    padding: 30px 50px;
    text-align: justify;
}

.experience {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.exp-card {
    display: flexbox;
    text-align: start;
    margin: 30px 5px;
}


/* Responsive */

@media screen and (max-width: 1024px){
    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color:#ee9972;
        position: fixed;
        top: 80px;
        right: -100%;
        padding-left: 0px;
    }

    .navbar ul.active {
        right: 20%;
    }

    .navbar li {
        font-size: 1.5rem;
    }

    .navbar li a:hover {
        color: #ffffff;
    }

    .menu-mobile i {
        display: block;
    }


    .logo {
        font-size: 1.3rem;
        padding-top: 5px
    }
}

@media screen and (max-width: 726px){
    .profile{
        height: fit-content;
        display: grid;
        padding: 70px 0px;
    }

    .profile-img{
        text-align: center;
    }

    .profile-img img {
        width: 40%;
        height: 40%;
        min-width: 150px;
    }

    h1 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    .cards {
        flex-direction: column;
    }

    .card-col {
        width: 60%;
    }

}